[submodule "external/gltf"]
	path = external/gltf
	url = git@github.com:syoyo/tinygltf.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "external/EnTT"]
	path = external/EnTT
	url = git@github.com:skypjack/entt.git
